*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box}
    
    
body{
    position: relative;
    width: 100%;
    height: 100%;   
    padding:0px;	
    margin:0px;
    font-family: "微软雅黑";
    font-size: .16rem;
    background: url("../images/bg02.png") no-repeat;
    background-size: cover;
    color: #ffffff;
}


.fl{
    float: left;
}

/*指标列表*/
ul{
    list-style: square;
}

ol{
    list-style: circle;
}

/*客户订单分析*/
.allnav{
    height: 100%;
}


/*谷哥滚动条样式*/

::-webkit-scrollbar {width:5px;height:5px;position:absolute}

::-webkit-scrollbar-thumb {background-color:#5bc0de}
::-webkit-scrollbar-track {background-color:#ddd}

/***/


/*头部*/

.header{
    width: 100%;
    height: 1.1rem;

}


.header-left{
    width: 25%;
    height: 1.05rem;
    color: white;
    text-align: center;
    line-height: 1.05rem;
}

.mdl_weekSelector{
    width: 15%;
    height: .4rem;
    color: rgb(254,196,34);
    background-color: #4b86ad;
    font-size: .3rem;
    text-align: center;
    position: absolute;
    left: 90px;
    top: 30px;
}


.header-center{
    width: 50%;
    height: 1.05rem;
    position: relative;
}


/*数据大屏标题栏设置*/

.header-title{
    text-align: center;
    color: rgb(254,196,34);
    font-size: .4rem;
    text-shadow: 0 0 .3rem #00d8ff;
    line-height: 1.05rem;
}




.header-img{
    background: url("../images/head.gif") no-repeat center center;
    background-size: 100%;
    height: 100%;
    width: 100%;
    position: absolute;
    top: .4rem;
}


.header-right{
    width: 50%;
    height: 0.5rem;
    
}

#mdl_billStatus_selector{
    width: 10%;
    height: .4rem;
    color: rgb(254,196,34);
    font-size: .3rem;
    background-color: #4b86ad;
    position: absolute;
    top: 30px;
    right: 60px;
    text-align: center;
}

#mdl_flow_selector{
    width: 10%;
    height: .4rem;
    color: rgb(254,196,34);
    font-size: .3rem;
    background-color: #4b86ad;
    position: absolute;
    top: 30px;
    right: 210px;
    text-align: center;
}

.header-bottom{
    width: calc(100% - .4rem);
    height: .16rem;
    background: url("../images/header.png") no-repeat;
    background-size: calc(100% - .2rem) 100%;
    padding: 0 .2rem;
    margin-left: .3rem;

}


/*
内容*/
.center{
    padding: .1rem ;
}


.center-left{
    width: 30%;
    padding: .1rem;
}

.left-top{
    width: 100%;
    height: 2rem;
    margin-bottom: .1rem;
    border: 0.02rem solid #217093;
    position: relative;
    overflow: hidden;
}


.title{
    width: 90%;
    height: 0.4rem;
    position: relative;
    font-size: .3rem;
    top:.1rem;
    left: .25rem;
    color: rgb(254,196,34);
    padding-left: 0.12rem;
    line-height: 0.3rem;

}
.title:before{
    width: 0.05rem;
    height: 0.25rem;
    top: 0.02rem;
    position: absolute;
    content: "";
    background: #59ebe8;
    border-radius: 0.5rem;
    left: 0;
}

.top-list li{
    float: left;
    font-size: .3rem;
    color: #ffffff;
    width: 50%;

}

/*针对客户分析做的布局(2,1)*/
.left-cen{
    width: 100%;
    height: 4.1rem;
    margin-bottom: .4rem;
    border: 0.01rem solid #217093;
}



.left-bottom{
    width: 238%;
    height: 3.8rem;
    /*background: url("../images/panel.png") no-repeat;
    background-size: 100% 100%;*/
    border: 0.01rem solid #217093;
}

.bottom-b{
    width: calc(100% - 0.2rem);
    height: 3.7rem;
    margin-left: 0.1rem;
    margin-top: 0.1rem;
}

/*中栏设置*/

.center-cen{
    width: 40%;
    padding: .1rem;
}


.cen-top{
   
    height: 6.2rem;
    border: 0.01rem solid #217093;
    margin-bottom: .4rem;
    position: relative;
}



.cen-top .top-bottom{
    width: 100%;
    height: 5.8rem;
    position: absolute;
    top:0.2rem;
    padding: .2rem;
  
}

/*设置右边栏*/
.center-right{
    width: 30%;
    padding: .1rem;
    margin-bottom: .4rem;
}

.right-top{
    width: 100%;
    height: 3.1rem;
    margin-bottom: .1rem;
    border: 0.01rem solid #217093;
}
.right-cen{
    width: 100%;
    height: 3.0rem;
    margin-bottom: .4rem;
    border: 0.01rem solid #217093;
}
.right-bottom{
    width: 100%;
    height: 3.8rem;
    border: 0.01rem solid #217093;
}


.heading{
    width: 100%;
    margin-top: .2rem;
}
.heading span{
    display: block;
    float: left;
    height: .2rem;
    width: 12.5%;
    text-align: center;
    font-size: 0.15rem;
    font-weight: 600;
    color: #61d2f7;
    text-align: center;
    margin-bottom: .1rem;
    /* margin-left: .1rem; */
}
.heading2{
    width: 100%;
    margin-top: .2rem;
}
.heading2 span{
    display: block;
    float: left;
    height: .2rem;
    width: 16.5%;
    text-align: center;
    font-size: 5px;
    font-weight: 200;
    color: #61d2f7;
    text-align: center;
    margin-bottom: .1rem;
    padding-left: 0rem;
}


#FontScroll{
    width: 100%;
    height: 2.3rem;
    overflow: hidden;
    margin-top: .1rem;
    margin-left:.1rem;
    overflow: hidden;
}

#FontScroll ul li{
    height: .32rem;
    width: 100%;
    color: #ffffff;
    text-align: center;
    line-height: .32rem;
    overflow: hidden;
    font-size: 0.14rem;
    padding-left: .1rem;
}

#FontScroll ul li:hover{
    box-shadow: -10px 0px 15px #034c6a inset, /*左边阴影*/
    10px 0px 15px #034c6a inset;
    cursor: pointer;
}


.fontInner span{
    display:inline-block;
    float: left;
    /*height: 20px;*/
    width:12.2%;
    color: #ffffff;

    /*background: red;*/

}
.fontInner1 span{
    display:inline-block;
    float: left;
    /* height: 20px; */
    width: 16.2%;
    color: #ffffff;

    /*background: red;*/

}
.fontInner span b{
    display: inline-block;
    width: .2rem;
    height: .2rem;
    border-radius: 0.03rem;
    color: #ffffff;
    line-height: .2rem;
}
